

.display-4 {
    font-family: 'Anton', sans-serif;
}

.lead {
    font-family: 'Antic Slab', serif;
    font-size: 25px;
    letter-spacing: -1px;
}

.jumbotron {
    margin: 0 auto;
    background-color: rgb(150, 118, 118);
    color: rgb(36, 36, 36);
    text-align: center;
    text-shadow: navy;
    border-bottom-style: double;
    border-width: 10px;
}

body {
    background: url('../images/background.png');
    font-family: 'Antic Slab', serif;

}

.container {
    background: lightgray;
    width: 960px;
    z-index: 100;
    padding: 20px;
    opacity: 0.65;

}
